################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAccessLayerShared/bin/Debug/net7.0
/DataAccessLayerShared/obj/Debug/net7.0/ref
/DataAccessLayerShared/obj/Debug/net7.0/refint
/DataAccessLayerShared/obj/project.nuget.cache
/DataAccessLayerShared/obj/project.assets.json
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.pdb
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.GeneratedMSBuildEditorConfig.editorconfig
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.dll
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.csproj.FileListAbsolute.txt
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.csproj.CoreCompileInputs.cache
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.csproj.AssemblyReference.cache
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.assets.cache
/DataAccessLayerShared/obj/DataAccessLayerShared.csproj.nuget.g.props
/DataAccessLayerShared/obj/DataAccessLayerShared.csproj.nuget.dgspec.json
/DataAccessLayerShared/obj/project.nuget.cache
/DataAccessLayerShared/obj/project.assets.json
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.GeneratedMSBuildEditorConfig.editorconfig
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.csproj.FileListAbsolute.txt
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.csproj.CoreCompileInputs.cache
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.csproj.AssemblyReference.cache
/DataAccessLayerShared/obj/Debug/net7.0/DataAccessLayerShared.assets.cache
/DataAccessLayerShared/obj/DataAccessLayerShared.csproj.nuget.g.props
/DataAccessLayerShared/obj/DataAccessLayerShared.csproj.nuget.dgspec.json
/Articles/Properties/launchSettings.json
/Articles/obj/project.nuget.cache
/Articles/obj/project.assets.json
/Articles/obj/Articles.csproj.nuget.g.props
/Articles/obj/Articles.csproj.nuget.dgspec.json
/Articles/obj/Debug/net7.0/Articles.pdb
/Articles/obj/Debug/net7.0/Articles.genruntimeconfig.cache
/Articles/obj/Debug/net7.0/Articles.GeneratedMSBuildEditorConfig.editorconfig
/Articles/obj/Debug/net7.0/Articles.dll
/Articles/obj/Debug/net7.0/Articles.csproj.FileListAbsolute.txt
/Articles/obj/Debug/net7.0/Articles.csproj.CoreCompileInputs.cache
/Articles/obj/Debug/net7.0/Articles.csproj.BuildWithSkipAnalyzers
/Articles/obj/Debug/net7.0/Articles.csproj.AssemblyReference.cache
/Articles/obj/Debug/net7.0/Articles.assets.cache
/Articles/obj/Debug/net7.0/apphost.exe
/Articles/obj/Debug/net7.0/ref/Articles.dll
/Articles/obj/Debug/net7.0/refint/Articles.dll
/Articles/bin/Debug/net7.0/runtimes
/Articles/bin/Debug/net7.0/System.Data.SqlClient.dll
/Articles/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/Articles/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/Articles/bin/Debug/net7.0/DataAccessLayerShared.pdb
/Articles/bin/Debug/net7.0/DataAccessLayerShared.dll
/Articles/bin/Debug/net7.0/Articles.pdb
/Articles/bin/Debug/net7.0/Articles.exe
/Articles/bin/Debug/net7.0/Articles.dll
/Articles/bin/Debug/net7.0/Articles.deps.json
/Articles/bin/Debug/net7.0/appsettings.Development.json
/Articles/.vs/ProjectEvaluation
/Articles/.vs/Articles/v17/.suo
/Articles/.vs/Articles/v17/.futdcache.v2
/Articles/.vs/Articles/FileContentIndex/read.lock
/Articles/.vs/Articles/FileContentIndex/a23a2b29-48a9-40ad-b7e9-9cb251131455.vsidx
/Articles/.vs/Articles/FileContentIndex/541865ac-f0e9-477a-ad69-bdb90b40dfb8.vsidx
/Articles/.vs/Articles/DesignTimeBuild/.dtbcache.v2
/Articles/.vs/Articles/config/applicationhost.config
/.vs/VSWorkspaceState.json
/.vs/ArticlesAPI/v17/.wsuo
/Articles/Articles.csproj.user
